<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArticlePage2</title>
    <link rel="stylesheet" th:href="@{/css/articlePage.css}">

</head>
<body>
<header>
    <img th:src="@{/image/label.jpg}" alt="">
    <div>SLIM BODY</div>
    <div>диетический дневник</div>
</header>
<img id="articleImg2" th:src="@{/image/proteins.jpg}" alt="">
<h1>Что такое белки и зачем они нужны</h1>
<p></p>
<div id="description2">Диетологи всего мира отмечают, что питание должно быть сбалансированным. И исключив и своего
    рациона,
    к примеру, жиры, вы, может, и станете стройнее, но никак не здоровее.....
</div>
<p></p>
<h2>Функции белка: зачем он нам нужен</h2>
<p></p>
<div class="fontsize">Белок – это самый важный материал для процессов восстановления и замены устаревших клеток на
    новые. Эти процессы
    происходят в человеческом организме постоянно. Выработка этого вещества в нашем организме невозможна без
    аминокислот,
    которыми богат растительный и животный белок. Выполняя строительные функции клеток и органов, белок, на основе
    которого создаются различные соединения и гормоны, наряду с глюкозой является превосходной пищей для мозга.
    Волосы, ногти, мышцы, внутренние органы – весь наш организм работает на этом материале.<br>
    <p></p>
    Основные источники белка – это животные и растительные продукты, например, такие как творог, рыба, мясо и яйца. В
    процессе пищеварения
    и переработки организмом изначальный его состав будет отличаться от полученного. Дело в том, что пищеварительный
    процесс расщепляет белки на аминокислоты, которые используются организмом для выработки собственного белка.
    Усвояемость растительных белков организмом несколько ниже, естественно, по сравнению с животными (85% и 97%).
    Всего белки способны синтезировать до 30 видов аминокислот, при этом 22 из которых считаются незаменимыми, так как
    организм сам не может их выработать. А остальные аминокислоты, как вы уже понимаете, заменимы.
</div>
<p></p>
<h2>К продуктам с высоким содержанием белка относятся:</h2>
<p></p>
<div class="fontsize">
    Осетровая икра (28,9 г на 100 г продукта);<br>
    Говядина (28 г на 100 г);<br>
    Мясо индейки (25,4 г / 100 г);<br>
    Консервы ”Тунец в собственном соку” (23,5 г/100 г);<br>
    Креветки (21,8 г на 100 г);<br> Куриная грудка (18,7 г на 100 г);<br>
    Форель (17,5 г на 100 г);<br> Обезжиренный творог (16,5 г на 100 г);<br>
    Геркулесовая каша (13,6 г на 100 г);<br> Куриные яйца (13 г на 100 г);<br>
    Гречневая крупа (12,6 г на 100 г);<br> Рисовая крупа (7 г на 100 г);<br>
    Белая фасоль в консервах (6,7 г на 100 г);<br> Кефир (3 г на 100 г).<br>
</div>
<p></p>
<div class="fontsize">
    Регулярное употребление белков в пищу способствует ускорению обмена веществ. Если исключить их из рациона питания,
    то процессы развития и роста у детей будут замедлены, у взрослых произойдут множественные перемены в организме, в
    том числе: изменение строения печени, снижение уровня усвояемости полезных и питательных веществ, смена
    гормонального фона, ухудшение работы сердечной мышцы, снижение работоспособности и проблемы с памятью.<br>
    <p></p>
    Кроме всего прочего, недостаточное количество этого вещества в человеческом организме снижает иммунитет, происходит
    это за счет уменьшения выработки антител, также вызывает авитаминоз, дает почву для развития воспалительных
    процессов. С другой стороны, переизбыток белка тоже не грозит положительными последствиями.<br>
    <p></p>
    Так как наш организм не может сохранять этот переизбыток ”про запас”, то печени приходится изрядно потрудиться и
    переработать его в глюкозу, мочевину и другие соединения для выведения из организма. При выводе из нашего тела
    происходит потеря кальция, появляется риск возникновения камней в почках и развития рака.<br>
    <p></p>
    Чтобы не переборщить с белком и не допустить его дефицита, важно знать необходимую норму. Средний уровень белка в
    суточном рационе взрослого человека должен составлять от 100 до 120 г, в случае когда физическая нагрузка достаточно
    высока, то его нужно увеличить до 160 г.
</div>
<h2>Сбалансированное питание: как и что нужно кушать</h2>
<p></p>
<div class="fontsize">
    Как мы уже выяснили, какими бы полезными и питательными ни были элементы в пище, употреблять их нужно в правильных
    пропорциях, иначе вы рискуете не только навредить своему внешнему виду, но и здоровью. Научиться правильно питаться
    получается не у всех, ниже приведены советы, которые помогут вам начать здоровый образ жизни.<br>
    <p></p>
    Завтрак должен быть питательным. Это первый прием еды за день, именно он ”поставит на ноги” и зарядит энергией до
    следующего приема
    пищи. Для этого отлично подойдут сложные углеводы, такие как макароны из цельнозерновой муки, хлеб грубого помола,
    любые каши (за исключением манной), капуста, киви, кабачок, яблоки и грейпфруты.<br>
    <p></p>
    На обед комбинируйте белки и углеводы. Обязательным должно быть употребление мяса или рыбы за обедом, а также
    зелени. Прием ужина должен осуществляться не позднее 3-4 часов до сна. Нагружать желудок перед сном не нужно.
    Для ужина отлично подойдут молочные продукты, овощи и фрукты. <br>
    <p></p>
    Старайтесь принимать пищу каждый день в одно и то же время. Рекомендаций по
    конкретному времени приема пищи нет, одним удобнее кушать через 2-3 часа, некоторые питаются чаще. Главное в данном
    случае – приучить свой организм принимать пищу по расписанию.<br>
    <p></p>
    При приеме еды не стоит торопиться. Чем быстрее вы будете пережевывать пищу, тем больше вы съедите. Об этом,
    пожалуй, помнит каждая представительница прекрасного пола, мечтающая похудеть. Диетологи рекомендуют медленно
    пережевывать, растягивая удовольствие. Это гарантирует быстрое насыщение и, как следствие, предотвращение поедания
    лишнего.<br>
    <p></p>
    Употребление воды должно быть регулярным. По словам специалистов, в день нужно употреблять объем из расчета 30 мл
    на 1 кг массы тела. Принудительно это делать не нужно, ваш организм сам подскажет, когда и сколько нужно выпить.
    Стоит отказаться от сладких газированных напитков.<br>
    <p></p>
    Старайтесь делать свой рацион разнообразным. В него должны входить продукты из разных пищевых групп: белки, жиры,
    углеводы. Балуйте себя только полезными сладостями. Кондитерские изделия, несомненно, доставляют массу удовольствия,
    но крайне вредны для фигуры. Замените их фруктами, сухофруктами, пастилой, темным шоколадом, зефиром и
    мармеладом.<br>
    <p></p>
    Употребление соли в больших количествах увеличивает риск возникновения гипертонии. Отказываться от соли ни в коем
    случае не нужно, дозируйте ее правильно и замените поваренную соль на морскую или йодированную. Принимать еду нужно
    только по сигналу организма. Избегайте случайных перекусов друзьями и коллегами в кафе, дома перед телевизором и за
    компьютером. Есть стоит только при появлении чувства голода.<br>
    <p></p>
    Соблюдая эти простые и бесхитростные рекомендации, вы сможете перейти на правильное и сбалансированное питание,
    которое будет насыщать организм необходимым количеством
    белков, жиров и углеводов, а вместе с тем и энергией, жизненной силой и хорошим настроение.
</div>
<p></p>
<div id="footer">
    <div id="footer1">SLIM BODY</div>
    <div><i class="far fa-copyright" id="copyFooter"></i></div>
</div>

<div id="yearFooter">2020</div>
</body>
</html>
