<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArticlePage3</title>
    <link rel="stylesheet" th:href="@{/css/articlePage.css}">

</head>
<body>
<header>
    <img th:src="@{/image/label.jpg}" alt="">
    <div>SLIM BODY</div>
    <div>диетический дневник</div>
</header>
<img id="articleImg3" th:src="@{/image/fats.jpg}" alt="">
<h2>Нужны ли жиры организму человека ?</h2>
<p id="description3" class="fontsize">Кто занимается спортом, знает, как много нужно приложить усилий для избавления от лишних килограммов и жира.
    Сжигание жира это длительный и довольно сложный процесс. Однако, жир необходим для множества процессов, происходящих
    в нашем организме. Без жиров существование человека невозможно. Они также необходимы для нормального функционирования
    головного мозга. Но не все жиры полезны.</p>
<p></p>
<p class="fontsize">По типу жиры подразделяют на ненасыщенные (поли- и мононасыщенные), насыщенные и транс-жиры (самые опасные).
    Ненасыщенные жиры (рыбий жир, растительные масла и др.) считаются наиболее полезными для человека, а многие из них
    просто крайне необходимы для полноценного функционирования жизнеобеспечивающих систем и органов.</p>
<p></p>
<p class="fontsize">Жир дает огромный приток энергии, достичь которого практически невозможно, потребляя только белки и углеводы.
    Каждый грамм жира снабжает 9 калориями. Для сравнения, белки и углеводы дадут только 4 калории на каждый грамм веса.
    Без запасов жира наше тело начнет буквально поедать само себя, разрушать ткани и мышцы для необходимой энергии.</p>
<p></p>
<p class="fontsize">Жир необходим также для усвоения некоторых витаминов: А, С, Е и К являются жирорастворимыми. Их поглощение происходит
    только при наличии жира.</p>
<img id="imgFats2" th:src="@{/image/fats 2.jpg}" alt="">
<p class="fontsize">Жир не позволяет нам замерзнуть. Также он защищает внутренние органы и кости от ударов и обеспечивает необходимую
    поддержку органов.</p>
<p></p>
<p class="fontsize">Без жира мы не могли бы двигаться. Они выступают сверхпроводящими путями через все нервные волокна в нашем организме,
    обеспечивают изоляцию волокон для облегчения прохождения нервных импульсов, поступающих из мозга.</p>
<p></p>
<p class="fontsize">Жир обеспечивает транспортировку питательных веществ в организме и помогает создавать ряд жизненно необходимых гормонов.</p>
<p></p>
<p class="fontsize">Организм накапливает жир, если энергии с питанием приходит больше, чем расходуется на жизнедеятельность. Это также
    зависит от качества и сбалансированности питания. Чтобы запустить процесс сжигания жира, необходимо уменьшить
    количество поступающей с пищей энергии, либо увеличить расход. В идеале нужно делать и то, и другое одновременно.</p>
<p></p>
<p class="fontsize">Чтобы мобилизовать энергию, хранящуюся в жире, необходимо задействовать гормональные механизмы высвобождения энергии.</p>
<p></p>
<p class="fontsize">В случае, если в крови содержится недостаточно сахара, печень начинает его вырабатывать, постоянно выбрасывая в кровь
    новые порции. Сперва она преобразовывает крахмал, потом - белки, и лишь затем принимается за жиры. Их преобразование
    происходит довольно медленно, но часто до этого дело не доходит.</p>
<p></p>
<img id="imgFats3" th:src="@{/image/fats3.jpg}" alt="">
<p></p>
<p class="fontsize">Хотя белки дают менее 50% энергии, в сравнении с жирами они расщепляются намного легче, поскольку запасы жира
    представляют собой отдельные «жирные кислоты», соединённые вместе. При хорошем кровообращении жиры усваиваются
    напрямую, однако, с возрастом в результате его ухудшения жиры становятся менее доступными для энзимов, которые
    мобилизуют жирные кислоты для преобразования в печени и мышцах.</p>
<p></p>
<p class="fontsize">Поэтому, после тридцати лет, при малоподвижном образе жизни, белки мышц расщепляются и преобразуются в сахар.
    Однако если мышцы активны, они активизируют «гормоночувствительную липазу» - энзим, расщепляющий жиры. Шведские
    ученые доказали, что активность энзимов наблюдается после часовой прогулки и сохраняет способность к расщеплению
    жиров в течение 12 часов.</p>
<p></p>
<p class="fontsize">Таким образом, сопутствующим компонентом любой диеты должны стать мышечные нагрузки в связи с их непосредственным
    длительным воздействием на расщепление жиров. Они используются для работы мышц со средней и умеренной нагрузкой,
    но не подходят для работы высокой мощности. Тренировка, направленная на сжигание жиров, должна быть продолжительной
    со средними и умеренными нагрузками. Важно использовать упражнения, которые вовлекают в работу как можно больше мышц.</p>
<div id="footer">
    <div id="footer1">SLIM BODY</div>
    <div><i class="far fa-copyright" id="copyFooter"></i></div>
</div>

<div id="yearFooter">2020</div>
</body>
</html>
