<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArticlePage1</title>
    <link rel="stylesheet" th:href="@{/css/articlePage.css}">

</head>
<body>
<header>
    <img th:src="@{/image/label.jpg}" alt="">
    <div>SLIM BODY</div>
    <div>диетический дневник</div>
</header>

<img id="articleImg" th:src="@{/image/water.jpg}" alt="">
<h1>Значение воды для оганизма человека</h1>
<p id="description">Вода – основной элемент организма человека, жизненно важный для работы органов и терморегуляции. В воде растворяется
    больше веществ, чем в любом другом растворителе.</p>
<p></p>
<div id="paragraph1" class="fontsize">Вода – основной элемент организма человека, жизненно важный для работы органов и терморегуляции. В воде растворяется
    больше веществ, чем в любом другом растворителе. Для большинства происходящих в наших клетках химических реакций
    требуется вода. Вода нужна для транспортировки питательных веществ и кислорода ко всем клеткам тела. Она помогает
    преобразовывать пищу в энергию и усваивать питательные вещества. Вода поддерживает стабильность температуры тела
    и защищает жизненно важные органы, участвует в поддержании формы клеток и органов и важна для здоровья кожи. Вода
    помогает организму избавляться от отходов: с потом и уриной выходят многие шлаки, вода (слезы, слюна) вымывает и
    разбавляет едкие вещества. Вода также способствует дыханию.</div>
<div id="paragraph2">Вода составляет примерно 2/3 массы нашего тела. Количество воды в организме зависит от возраста,
    у младенцев она составляет 75%, у подростков 65%, у взрослых 60% и у пожилых людей 55% массы тела.</div>
<p></p>
<div id="paragraph3" class="fontsize">Количество воды в организме обратно пропорционально количеству жировой ткани, при сильном ожирении ее количество
    падает даже до 40 % массы тела. Примерно 2/3 всей воды в организме содержится внутри клеток и 1/3 – вне их.
    Регуляция водного баланса тесно связана с электролитическим равновесием. Если в организме слишком много воды,
    выделяется более жидкая урина, а если концентрация электролитов в жидкостях организма становится слишком высокой,
    центр жажды в мозгу получает стимуляцию, которая приводит к ощущению жажды, и выделение воды почками уменьшается.
    Потеря жидкости происходит с уриной и калом, она также испаряется через кожу и дыхательные пути. У здорового
    взрослого суточное количество урины превышает 600 мл и в норме составляет 1–2,5 литра. С калом обычно выделяется
    100–200 мл в сутки, но это количество заметно увеличивается при диарее. За счет испарения в умеренном климате
    человек теряет в среднем 300–500 мл воды в сутки на 1 м2 поверхности тела. Потери с потом обычно невелики, но они
    увеличиваются до нескольких литров в сутки в жаркой и влажной среде или даже в умеренных условиях при тяжелой
    физической работе. </div>
<p></p>
<h2>Потребность в воде</h2>
<p></p>
<div class="fontsize" style="margin-left: 5px; margin-right: 5px">Большинство здоровых людей удовлетворяет суточную потребность в воде, ориентируясь на ощущение жажды. Для здоровых
    людей нет точных рекомендаций в отношении потребления воды, поскольку потребность в воде имеет заметные
    индивидуальные различия и обуславливается физической активностью и климатическими условиями.</div>
<p></p>
<h2>Потребность в воде зависит от множества физиологических и связанных с деятельностью обстоятельств:</h2>
<ul class="fontsize">
    <li>возраста,</li>
    <li>характера работы и деятельности,</li>
    <li>состояния здоровья,</li>
    <li>местного климата,</li>
    <li>повышенной потливости (жаркая погода, тяжелая физическая работа),</li>
    <li>повышенного потребления соли.</li>
</ul>
<div class="fontsize" style="margin-right: 5px; margin-left: 5px">Жажда, как правило, возникает у человека тогда, когда организм не получает достаточно воды,
    теряет много жидкости или получает с пищей слишком много минеральных солей, особенно поваренной соли. Потребность
    в воде взрослого человека составляет 28–35 мл на килограмм массы тела (примерно 1 мл на 1 ккал пищевой энергии).
    Практически все продукты содержат большее или меньшее количество воды.</div>
<p></p>
<h2>При нормальном питании основное количество воды поступает с пищей (ок. 1–1,2 литра):</h2>
<p></p>
<ul class="fontsize">
    <li>из фруктов и овощей,</li>
    <li>супов,</li>
    <li>чая,</li>
    <li>кофе,</li>
    <li>соков и других напитков.</li>
</ul>
<p></p>
<div id="paragraph4" class="fontsize">В ходе обмена веществ дополнительно образуется 300–350 мл воды. Таким образом, соблюдающий
    рекомендации по питанию взрослый может дополнительно выпивать 2–3 стакана воды в день (согласно международному
    стандарту, объем стакана 220 мл).</div>
<p></p>
<div class="fontsize" style="margin-left: 5px; margin-right: 5px">Для утоления жажды следует всегда предпочитать питьевую воду без добавок. Потребность в воде у младенцев и детей
    относительно выше, поскольку выше и содержание воды в их организмах. Если дети и подростки, независимо от возраста,
    хотят пить, им нужно всегда давать пить, поскольку желанием попить организм уже сигнализирует о жажде.<br>
    <p></p>

    Кофеин выводит воду прежде всего у тех, кто не употребляет его (кофе, напитки кола, энергетические напитки)
    регулярно. Алкоголь (за исключением умеренных количеств пива и вина) также выводит воду из организма.<br>
    <p></p>

    Умеренное обезвоживание, которым считается потеря 1–2 % массы тела за счет потери жидкости, сопровождается головной
    болью, чувством слабости, потерей аппетита и головокружением. Обезвоживание на 3–5 % массы тела понижает
    сопротивляемость и силу и приводит к сильному истощению. Обезвоживание на 15–25 % массы тела фатально.
    Описано острое отравление при приеме за короткое время большого количества жидкости, превышающего максимальную
    скорость ее выделения почками: 0,7–1 литр/час.</div>
<p></p>
<h2>Содержание воды в продуктах:</h2>
<p></p>
<ul class="fontsize">
    <li>в овощах в среднем 93% (например, в огурцах 97 %),</li>
    <li>в соках и молоке 89%,</li>
    <li>во фруктах 86%,</li>
    <li>в картофеле 79%</li>
    <li>в мясе 68%,</li>
    <li>в хлебе, сыре, сливочном масле, муке, орехах менее 50 %.</li>
</ul>
<p></p>
<h2>Что еще полезно знать о воде:</h2>
<p></p>
<ul class="fontsize">
    <li>Чистая вода и минеральная вода не дают энергии, но при наличии вкусовых или витаминных добавок могут содержать
        небольшое количество сахара и благодаря этому давать энергию. Читайте на упаковке! </li>
    <li>Длительное чрезмерное потребление воды нагружает сердце и почки.</li>
    <li>При употреблении минеральной воды важно следить за содержанием в ней минеральных веществ.</li>
    <li>В случае потения слегка соленая вода – идеальный напиток, который восстанавливает и запас солей в организме.</li>
    <li>Содержащие кофеин кофе, чай и напитки кола, а также алкогольные напитки усиливают выведение воды из организма,
        ускоряя работу почек и усиливая потоотделение.</li>
</ul>
<div id="footer">
    <div id="footer1">SLIM BODY</div>
    <div><i class="far fa-copyright" id="copyFooter"></i></div>
</div>

<div id="yearFooter">2020</div>
</body>
</html>
