<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArticlePage4</title>
    <link rel="stylesheet" th:href="@{/css/articlePage.css}">

</head>
<body>
<header>
    <img th:src="@{/image/label.jpg}" alt="">
    <div>SLIM BODY</div>
    <div>диетический дневник</div>
</header>
<img id="articleImg4" th:src="@{/image/carbohydrates.jpg}" alt="">
<h2>Углеводы источник энергии или ..... ?</h2>
<p></p>
<p id="description4">Углеводы являются главным источником энергии в организме. Энергия, получаемая с содержащимися в пище углеводами, в
    основном вырабатывается из крахмала и сахаров, а также (в меньшей степени) из пищевых волокон и сахарных спиртов.</p>
<p></p>
<p class="fontsize">Основными источниками углеводов являются зерновые и картофель. Фрукты, фруктовый сок, ягоды и молоко также содержат
    сахара (моно- и дисахариды). Сладости, сладкие напитки, фруктовые сиропы, подслащенные кондитерские изделия и молочные
    продукты со вкусовыми добавками – основные источники добавленных сахаров. Добавленными сахарами называются сахара,
    добавляемые в продукты в процессе их обработки или приготовления. </p>
<p></p>
<p class="fontsize">Понятия «углевод» и “сахар” – не одно и то же. Сахар – это условное обиходное понятие, используемое в основном
    в отношении сахарозы (т.н. столовый сахар), а также других водорастворимых простых углеводов со сладким вкусом
    (моно- и дисахариды, такие как глюкоза, фруктоза, лактоза, мальтоза).</p>
<ul class="fontsize, ulCarbohydrates">
    <li><span>Углеводы должны покрывать 50–60% суточной потребности в пищевой энергии.</span></li>
    <li><span>Энергия, получаемая с добавленным сахаром, не должна превышать 10% суточной пищевой энергии.</span></li>
</ul>
<img id="carbohydratesImg1" th:src="@{/image/carbohydrates1.jpg}" alt=""/>
<p></p>
<p class="fontsize" id="description5">Человеку с суточной потребностью в энергии 2000 ккал за день следует употреблять:<br>
    от 0,5 x 2000 ккал / 4 ккал = 250 г до 0,6 x 2000 / 4 ккал = 300 г углеводов.<br> При суточной потребности в энергии
    2500 ккал рекомендуемое дневное количество углеводов 313–375 г, при 3000 ккал – 375–450 г.</p>
<p></p>
<p class="fontsize">Наш организм, а в особенности мозг, нуждается в постоянном снабжении глюкозой, обеспечивающей эффективность
    и результативность его работы. При длительном недостатке углеводов организм начинает синтезировать глюкозу из
    собственных белков, из-за чего заметно снижается его защитная способность в отношении факторов внешней среды.</p>
<p></p>
<p class="title">Углеводы выполняют в организме множество функций:</p>
<ul class="fontsize, ulCarbohydrates">
    <li><span>являются главным источником энергии в организме: 1 грамм углеводов = 4 ккал,</span></li>
    <li><span>входят в состав клеток и тканей,</span></li>
    <li><span>определяют группу крови,</span></li>
    <li><span>входят в состав многих гормонов,</span></li>
    <li><span>выполняют защитную функцию в составе антител,</span></li>
    <li><span>играют роль запасного вещества в организме: аккумулирующийся в печени и мышцах гликоген – временный запас
        глюкозы, которой организм при необходимости может легко воспользоваться,</span></li>
    <li><span>пищевые волокна необходимы для исправной работы пищеварительной системы.</span></li>
</ul>
<p></p>
<p class="title">Пищевые волокна</p>
<p class="fontsize">Пищевые волокна содержатся только в растениях, например, целлюлоза и пектин встречаются в основном в цельнозерновых
    продуктах, фруктах и овощах, а также бобовых.</p>
<p class="fontsize">Обитающие в кишечнике микроорганизмы способны частично расщеплять пищевые волокна, которые являются пищей для
    микробов пищеварительного тракта, в свою очередь важных для защитных сил организма человека.</p>
<p class="title">Пищевые волокна:</p>
<ul class="fontsize, ulCarbohydrates">
    <li><span>увеличивают объем пищевой кашицы, вызывая тем самым ощущение сытости,</span></li>
    <li><span>ускоряют продвижение пищевой массы по тонкому кишечнику,</span></li>
    <li><span>способствуют предотвращению запоров и могут предотвращать некоторые формы рака, заболевания сердечно-сосудистой системы и диабет II типа,</span></li>
    <li><span>облегчают вывод из организма холестерина,</span></li>
    <li><span>замедляют всасывание глюкозы, предотвращая слишком резкое возрастание уровня сахара в крови,</span></li>
    <li><span>помогают поддерживать нормальную массу тела.</span></li>
</ul>
<p class="fontsize">Пищевые волокна в организме не всасываются, но, благодаря частичному разложению в кишечнике под действием микрофлоры
    пищеварительного тракта, образуют жирные кислоты с короткой молекулярной цепью и дают около 2 ккал/г энергии.</p>
<p class="fontsize">Пищевые волокна можно подразделить на водорастворимые и нерастворимые. Поскольку они выполняют разные функции,
    следует ежедневно употреблять продукты, содержащие пищевые волокна обоих видов:</p>
<ul class="fontsize, ulCarbohydrates">
    <li><span>Овес, рожь, фрукты, ягоды, овощи и бобовые (горох, чечевицу, фасоль) – хорошие источники водорастворимых пищевых волокон.</span></li>
    <li><span>Цельнозерновые продукты (ржаной хлеб, цельнозерновой пшеничный хлеб, сепик, крупы, цельнозерновые хлопья,
        цельнозерновой рис) – хорошие источники не растворимых в воде пищевых волокон.</span></li>
</ul>
<p id="description6" class="fontsize">Взрослый человек должен получать от 25 до 35 г пищевых волокон в день в зависимости от суточной потребности
    в энергии (ок. 13 г пищевых волокон на 1000 ккал). </p>
<p class="fontsize">Рекомендуемое суточное количество пищевых волокон для ребенка старше одного года составляет 8–13 г на 1000 ккал
    потребленной энергии. Рекомендуемое суточное количество для ребенка можно приблизительно подсчитать по формуле
    «возраст + 7». Чрезмерное употребление пищевых волокон не рекомендуется, поскольку возникает опасность, что
    какое-либо необходимое организму минеральное вещество окажется связанным в труднорастворимом соединении, и
    организм не сможет его усвоить.</p>
<p class="title">Рекомендации по увеличению потребления продуктов, богатых крахмалом и пищевыми волокнами:</p>
<ul class="fontsize, ulCarbohydrates">
    <li><span>Выбирая основное блюдо, предпочтите цельнозерновые макаронные изделия или рис и поменьше соуса.</span></li>
    <li><span>В случае сосисок с отварным картофелем возьмите больше картофеля и меньше сосисок.</span></li>
    <li><span>Добавляйте фасоль и горох в рагу, овощные запеканки или тушеные блюда. Этим вы повысите содержание в блюде
        пищевых волокон. Действуя таким образом, можно употреблять меньше мяса, блюда становятся экономнее, также
        сокращается количество употребляемых насыщенных жирных кислот.</span></li>
    <li><span>Предпочтите цельнозерновой ржаной и пшеничный хлеб.</span></li>
    <li><span>Выберите цельнозерновой рис: он содержит большое количество пищевых волокон.</span></li>
    <li><span>Употребляйте на завтрак цельнозерновые хлопья или подмешивайте их в свои любимые хлопья.</span></li>
    <li><span>Каша – отлично согревающий зимний завтрак, цельнозерновые овсяные хлопья со свежими фруктами, ягодами и
        йогуртом – освежающий летний завтрак.</span></li>
    <li><span>Съедайте 3–5 ломтиков цельнозернового ржаного хлеба в день.</span></li>
    <li><span>Съедайте за день по меньшей мере 500 г фруктов и овощей.</span></li>
</ul>
<p class="title" >Сахар</p>
<p class="fontsize">Большинство людей норовят употреблять слишком много сахара, поскольку едят много сладостей, пирожных, выпечки
    и других богатых сахаром продуктов, пьют прохладительные и соковые напитки. Сахаров, содержащихся в необработанных
    продуктах, например, во фруктах и молоке, опасаться не стоит. Прежде всего следует сокращать употребление пищи,
    содержащей добавленный сахар.</p>
<p class="title">Сахар добавляют во многие продукты, но больше всего его содержат:</p>
<ul  class="fontsize, ulCarbohydrates">
    <li><span>прохладительные и соковые напитки: например, 500 мл лимонада могут содержать до 50 г, то есть 10-15 чайных ложек сахара,</span></li>
    <li><span>сладости, конфеты, печенье,</span></li>
    <li><span>варенье,</span></li>
    <li><span>пирожные, торты, булочки, пудинги,</span></li>
    <li><span>мороженое.</span></li>
</ul>
<p class="fontsize">Основными недостатками многих богатых сахаром продуктов является, с одной стороны, относительно высокое содержание
    энергии, а с другой – как правило, довольно низкое содержание витаминов и минеральных веществ. Кроме того, многие
    насыщенные сахаром продукты содержат и много жира – например, шоколад, печенье, булочки, пирожные и мороженое.</p>
<p class="fontsize">Богатыми сахаром продуктами и напитками можно повредить зубы, если не уделять достаточного внимания гигиене полости
    рта. Зубы следует тщательно чистить не менее 2 раз в день, а между приемами пищи очищать, например, с помощью
    жевательной резинки. Если сахара, содержащиеся во фруктах, не так уж сильно вредят зубам, то в составе соков их
    структура уже расщеплена, и потому они настолько же вредны для зубов, как и любая другая богатая сахаром пища,
    особенно если употреблять их часто. Выпивать стакан фруктового сока в день все же рекомендуется (причем желательно
    вместе с пищей), поскольку он обогащает наш стол витаминами, минералами и фитохимикатами.</p>
<div id="footer">
    <div id="footer1">SLIM BODY</div>
    <div><i class="far fa-copyright" id="copyFooter"></i></div>
</div>

<div id="yearFooter">2020</div>
</body>
</html>
